name: Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare list of configurations
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      scripts: ${{ steps.set-matrix.outputs.scripts }}
    steps:
      - name: Check out the source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set matrix
        id: set-matrix
        run: echo scripts="$(for i in ci/*.ctest.cmake; do echo '"'$(basename $i .ctest.cmake)'"'; done | jq --slurp -c)" >> "${GITHUB_OUTPUT}"

  test:
    needs: prepare
    name: Test (${{ matrix.script }})
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        script: ${{ fromJson(needs.prepare.outputs.scripts) }}
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run tests
        run: ctest -V -S "ci/${{ matrix.script }}.ctest.cmake"
